@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
* {
	box-sizing: border-box;
}


.null {
	border: none !important;
}
.null .planets-container-quiz .planet-answer:nth-of-type(1) {
	display: block ;
}
.null .planet-answer img {
	-webkit-transform: scale(1) !important;
	transform: scale(1) !important;
}

body {
	margin: 0;
	font-family: 'nunito';
	padding: 0;
	height: 100vh;
	background-size: cover;
	background-image: url("../img/background_ab.png");
}

.ui-state-hover {
	border: 2px dashed #11DFF3 !important;
	box-shadow: 0px 0px 20px 0px rgba(52, 205, 224, 0.11);
	-webkit-transform: scale(1.2) !important;
	transform: scale(1.2) !important;
}
.ui-state-hover span {
	color: #11DFF3 !important;
}
.planets {
	overflow: hidden;
	/*background-color: black;*/
	width: 100%;
	height: 100vh;
	position: relative;
}

.planets-container {
	max-width: 90%;
	text-align: center;
	/*height: 520px;*/
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 50%;
	color: white;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.planets-container-title h3 {
	margin: 0;
	font-weight: 400;
}
.planets-container-planets {
	/*margin: 90px;*/
}
.planets-container-planets .answered {
	opacity: 0.3;
}
.planets-container-planets span {
	color: white;
	font-size: 13px;
	display: block;
	margin-top: 7px;
}
.planets-container-planets .planet-wrap {
	display: inline-block;
	width: 75px;
}
.planets-container-planets .info {
	background: white;
	width: 100px;
	height: 100px;
	display: none;
}
.planets-container-planets .planet {
	border-radius: 100px;
	cursor: pointer;
}
.planets-container-planets .planet img {
	height: 38px;
	position: relative;
	z-index: 11;
	border-radius: 100px;
}
.planets-container-quiz .planet-holder {

	-webkit-transition: all .3s;
	transition: all .3s;
	height: 40px;
	border-radius: 120px;
	display: inline-block;
	border: 2px dashed grey;

}
.planets-container-quiz .planet-holder span {
	position: absolute;
	left: 0;
	right: 0;
	color: white;
	top: 50%;
	-webkit-transition: all .3s;
	transition: all .3s;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.planets-container-quiz .sun {
	width: 300px;
	height:300px;
	position: relative;
	top: 30px;
	-webkit-animation: space_wobble 5.8s .1s linear infinite;
	animation: space_wobble 5.8s .1s linear infinite;
}
.planets-container-quiz .mercury {
	width: 40px;
	height: 40px;
	position: relative;
	top: -68px;
	left: 21%;
	-webkit-animation: space_wobble 5.7s .4s linear infinite;
	animation: space_wobble 5.7s .4s linear infinite;
}
.planets-container-quiz .mercury span {
	font-size: 25px;
}
.planets-container-quiz .venus {
	width: 90px;
	height: 90px;
	position: relative;
	top: 150px;
	left: -15%;
	-webkit-animation: space_wobble 5.3s .8s linear infinite;
	animation: space_wobble 5.3s .8s linear infinite;
}
.planets-container-quiz .venus span {
	font-size: 25px;
}
.planets-container-quiz .earth {
	width: 110px;
	height: 110px;
	position: relative;
	top: -100px;
	left: -9%;
	-webkit-animation: space_wobble 7s 1s linear infinite;
	animation: space_wobble 7s 1s linear infinite;
}
.planets-container-quiz .earth span {
	font-size: 25px;
}
.planets-container-quiz .mars {
	width: 60px;
	height: 60px;
	top: -171px;
	left: -4%;
	position: relative;
	-webkit-animation: space_wobble 5s .1s linear infinite;
	animation: space_wobble 5s .1s linear infinite;
}
.planets-container-quiz .mars span {
	font-size: 25px;
}
.planets-container-quiz .jupiter {
	width: 240px;
	height: 240px;
	position: relative;
	top: -25px;
	left: 0%;
	-webkit-animation: space_wobble 4s .6s linear infinite;
	animation: space_wobble 4s .6s linear infinite;
}
.planets-container-quiz .jupiter span {
	font-size: 25px;
}
.planets-container-quiz .saturn {
	width: 200px;
	height: 200px;
	position: relative;
	top: -68px;
	left: 14%;
	-webkit-animation: space_wobble 8s .1s linear infinite;
	animation: space_wobble 8s .1s linear infinite;
}
.planets-container-quiz .saturn span {
	font-size: 25px;
}
.planets-container-quiz .uranus {
	width: 150px;
	height: 150px;
	position: relative;
	top: 18px;
	right: -33%;
	-webkit-animation: space_wobble 6s .7s linear infinite;
	animation: space_wobble 6s .7s linear infinite;
}
.planets-container-quiz .uranus span {
	font-size: 25px;
}
.planets-container-quiz .neptune {
	width: 130px;
	height: 130px;
	position: relative;
	top: -55px;
	left: 3%;
	-webkit-animation: space_wobble 5s .4s linear infinite;
	animation: space_wobble 5s .4s linear infinite;
}
.planets-container-quiz .neptune span {
	font-size: 25px;
}
.planets-container-quiz .scale {
	-webkit-transform: scale(1) !important;
	transform: scale(1) !important;
}
.planets-container-quiz .planet-answer {
	border-radius: 100px;
}
.planets-container-quiz .planet-answer img {
	width: 100%;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all .3s;
	transition: all .3s;
}

@-webkit-keyframes space_wobble {
	0% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	25% {
		-webkit-transform: translateY(3px);
		transform: translateY(3px);
	}
	50% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	75% {
		-webkit-transform: translateY(-3px);
		transform: translateY(-3px);
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@keyframes space_wobble {
	0% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	25% {
		-webkit-transform: translateY(3px);
		transform: translateY(3px);
	}
	50% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	75% {
		-webkit-transform: translateY(-3px);
		transform: translateY(-3px);
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}




li{
	list-style: none;
}

.menu{
	float: left;
	z-index: 9999;
}

.menu-bar{
	margin-left:20px;
	margin-top:10px;
	display: inline-block;
	cursor: pointer;
	float:left;
	/*position: absolute;*/
	/*background-color: rgba(1, 1, 65, 0.6);*/
	z-index: 9;
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
	transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

.nav {
	display: none;
	position: fixed;
	margin-top: 80px;
	margin-left: 20px;
	z-index: 9;
	float: right;
}

.nav a{
	color: white;
}

.nav a:hover{
	color: #0201c2;
}

nav{
	/*display: none;*/
	color: white;
	font-size: 3em;
}
